# Introduction to Python
## Getting started
**Installing Python** Using miniconda or miniforge is recommended.
  - miniconda https://docs.conda.io/en/latest/miniconda.html
  - miniforge: https://github.com/conda-forge/miniforge. If you have an M1 mac then this is probably what you will need.
  - anaconda: https://docs.anaconda.com/anaconda/install/ This will install ~1000 packages at once as well as some applications (which will take up about 3GB of space).

Installing anaconda, miniconda or miniforge will install Python and Conda. Conda serves two main purposes: 1) it's a package manager, allowing you to install other code, and 2) it's an environment manager, to ensure that you have a self-consistent set of codes that can be used together without errors.

**Managing environments using conda**
* Create a conda environment named "numerics": `conda create -n numerics`
* List conda environments: `conda env list`
* Activate your conda environment: `conda activate numerics`  
  - You should normally activate your environment before installing packages. Otherwise, it will install to the base environment. We want to minimize the number of packages we add to base in order to 
* Install packages: `conda install -c conda-forge numpy scipy matplotlib` will install the packages numpy, scipy, and matplotlib using the channel conda-forge.

Conda cheat sheet: https://docs.conda.io/projects/conda/en/latest/user-guide/cheatsheet.html

**Installing jupyter (optional)**
Jupyter is software that allows you to make interactive code notebooks like this one.

1. On the base environment, install jupyterlab
```bash
(base)$ conda install -c conda-forge jupyterlab nb_conda_kernels 
```
2. Activate your environment:
```bash
(base)$ conda activate numerics
(numerics)$ 
```
3. Install ipykernel:
```bash
(numerics)$ conda install -c conda-forge ipykernel
```

## Jupyter code blocks
Click shift + enter to execute a block of code.

In [ ]:
print("Hello world!")

In [ ]:
# This is a comment (line not executed by code)
2 + 3

## Variables and data types

Primitive data types:
* `str`: strings (sequences of characters)
* `int`: integers
* `float`: floating point numbers (decimal representation of real numbers)
* `bool`: Booleans: either True or False

**Integers**

In [4]:
(3 * -2) + 2

-4

In [2]:
# Use ** operator for exponentiation
6**2

36

In [5]:
type(100)

int

**Floats**
Floats (short for floating point number) are decimal representations of real numbers.

In [6]:
type(3.14159)

float

In [7]:
# Add decimals to end to make a float
print(3.)

3.0

In [8]:
# You can change the type of integers to floats by calling the float() function.
# This is called type casting.
float(24)

24.0

In [9]:
# Operations between integers and floats get casted automatically to floats
3.0 + 2

5.0

In [ ]:
# Scientific notation
print(1e6)

**Strings**  
Strings are collections of characters, like words or.

In [ ]:
# Strings are wrapped in double quotation marks or single quotation marks
print("Hello world")
print('Also hello world')

In [ ]:
# Use + to concatenate strings
"Tik" + "Tok"

Escape characters: '\t' is a tab, '\n' is a new line

In [ ]:
print("This is my haiku \n I am no good at haikus \n Pineapple pizza")

We can also do unicode characters:

In [ ]:
print("\u263A")

**Booleans**
Booleans are either True or False.

In [ ]:
type(True)

In [ ]:
2 < 3

Use `<=` and `>=` for ≤ and ≥, respectively.

In [ ]:
2 <= -3

Check for equality with "==":

In [ ]:
2 * 5 == 10

Check for inequality with "!=":

In [ ]:
"Andrew Brettin" != "Mr. Bean"

We also have the relational operators "not", "and", and "or". These can be used to create compound boolean statements.

In [ ]:
print(not True)

In [ ]:
# True and True is True
print(1 < 2 and 2 < 3)

In [ ]:
# True and False is False
print(1 < 2 and 10000 == -1000)

In [ ]:
# True or False is True
print(1 < 2 or 10000 < -1000)

Integers can be casted to booleans:

In [ ]:
# Zeroes are False
print("0 is", bool(0))

# Any other number is True
print("34 is", bool(34))

## Variables

Variables allow us to store data.

Assign values to a variable by using the equals sign:

In [12]:
num = 3

In [13]:
num**2

9

Variable names can contain uppercase or lowercase letters, underscores, and numbers (but can't begin with numbers).

In [14]:
print("number is", num)
num = num + 1
print("number is now", num)

number is 3
number is now 4

## Lists

Lists are collections of objects, identified using square brackets:

In [15]:
favorite_things = ['raindrops', 'roses', 'whiskers', 'kittens', 3.14]

Access elements of a list using square brackets. The first element is indexed by [0], the next element by [1], and so on.

In [16]:
# Access elements of a list
print(favorite_things[0])
print(favorite_things[1])

raindrops
roses

Get the number of elements in a list using `len()`:

In [19]:
len(favorite_things)

5

Python also allows for reverse indexing:

In [20]:
# Access last element of a list
print(favorite_things[-1])

3.14

Check whether an element is in the list using 'in'

In [ ]:
'poop' in favorite_things

You can use the `list.append()` and `list.remove()` functions to change the elements in a list.

In [5]:
a = []
a.append('apple')
a.append('banana')
a.append('numerical analysis')
a

['apple', 'banana', 'numerical analysis']

## Control flow

### If / else statements

In [24]:
num = -30

if num < 0:
    print("number is negative")
elif num > 0:
    print("number is positive")
else:
    print("number is 0")

number is negative

### While loops:

In [ ]:
num = 1
while num < 100:
    num = 2 * num
    print(num)

### For loops

In [25]:
# For loops
letters = ['A', 'B', 'C', 'D', 'E']

for letter in letters:
    print(letter)

A
B
C
D
E

In [26]:
# The range function
for i in range(5):
    print(i)

0
1
2
3
4

In [27]:
for i, letter in enumerate(letters):
    print(f"The {i}th letter is {letter}")

The 0th letter is A
The 1th letter is B
The 2th letter is C
The 3th letter is D
The 4th letter is E

## Defining functions

In [28]:
def triple(x):
    return 3 * x

In [29]:
triple(2)

6

In [30]:
triple(100)

300

In [31]:
triple('Boom ')

'Boom Boom Boom '

Another example, using a for loop:

In [33]:
def mean(x):
    s = 0
    for i in x:
        s = s + i
    avg = s / len(x)
    return avg

In [36]:
mean([0, 1, 2, 3, 4, 5])

2.5

If a function doesn't have a useful name, you can use the lambda keyword to define one. Named functions are preferred if possible.

In [1]:
f = lambda x : x**2 - 1

In [15]:
f(10)

99

Functions can even be passed as arguments to other functions!

In [13]:
def sign(f, x):
    # Returns the sign of the function f evaluated at x.
    if f(x) > 0:
        return '+'
    elif f(x) < 0:
        return '-'
    else:
        return '0'
    
sign(f, 10)

'+'

## Other resources:
* [Google's python course](https://developers.google.com/edu/python/introduction)
* [JupyterLab getting started](https://jupyterlab.readthedocs.io/en/stable/getting_started/overview.html)